body {
    background-color: silver;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    margin: 20px;
}

.grid-item {
    background-color: darkgray;
    border: solid 3px black;
    text-align: center;
    padding: 20px;
}

.selected{
    font-weight: bolder;
    color: blue;
}

li {
    list-style:none;
}

.poster {
    width: 200px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
}

.poster img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}